version: '3.4'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04
    environment:
        - ACCEPT_EULA=Y
        - MSSQL_SA_PASSWORD=ServiceProvider2022@1234
        - UID=10001
        - GID=10001
        - MSSQL_PID=Evaluation
    ports:
        - "14333:1433"
    container_name: service-provider-sqlserver
    hostname: service-provider-sqlserver
    restart: unless-stopped
    volumes:
        - sqlVolume:/var/opt/mssql
    
  webapi:
    image: sammykirigha/service-provider-webapi
    build:
      context: .
      dockerfile: ServiceProvider.WebApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=80
      # Override the connection string using the internal Docker network details
      - ConnectionStrings__SqlConnectionStringEF=Data Source=sqlserver,1433;Initial Catalog=ServiceProviderDev;Persist Security Info=False;User ID=sa;Password=ServiceProvider2022@1234;MultipleActiveResultSets=True;Connection Timeout=500;TrustServerCertificate=True;
      - ConnectionStrings__SqlConnectionString=Data Source=sqlserver,1433;Initial Catalog=ServiceProviderDev;Persist Security Info=False;User ID=sa;Password=ServiceProvider2022@1234;MultipleActiveResultSets=True;Connection Timeout=500;TrustServerCertificate=True;
      # - ASPNETCORE_HTTPS_PORTS=443
      # - ASPNETCORE_Kestrel__Certificates__Default__Password=password123
      # - ASPNETCORE_Kestrel__Certificates__Default__Path=/root/.aspnet/https/aspnetapp.pfx
    ports:
      - "5000:80"
      - "7134:443"
    container_name: service-provider-webapi
    hostname: service-provider-webapi
    restart: unless-stopped
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    
volumes:
  sqlVolume: